html {
	background: url('./images/background.png');
	background-attachment: fixed;
	/* background-position: center top; */
	/* background-size: 100% auto; */
	/* background-repeat: repeat-x; */
	background-size: contain;
}

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Shojumaru', cursive;
	font-size: 54px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.character {
	position: absolute;
	width: 240px;
	/* height: 240px; */
}

.projectile {
	position: absolute;
	width: 80px;
}

.enemy {
	position: absolute;
	width: 200px;
}

.enemy {
  position: absolute;
}

.lives {
	float: left;
	margin: 10px;
}

#kills {
	float: right;
	margin: 10px;
}

.stats {
	color: #e60000;
}

#stars {
	margin-top: 0px;
	color: #F9A602;
}
