html {
  background: url("./images/background.png");
  background-attachment: fixed;
  /* background-position: center top; */
  /* background-size: 100% auto; */
  /* background-repeat: repeat-x; */
  background-size: contain;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Shojumaru", cursive;
  font-size: 54px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.character {
  position: absolute;
  width: 240px;
  /* height: 240px; */
}

.projectile {
  position: absolute;
  width: 80px;
}

.enemy {
  position: absolute;
  width: 200px;
}

#life-stats {
  float: left;
  margin: 10px;
}

#kills {
  position: fixed;
  right: 10px;
}

.stats {
  color: #e60000;
}

#stars {
  margin-top: 0px;
  color: #f9a602;
}

nav {
  position: absolute;
  top: 0;
}

#leaderboards {
  color: whitesmoke;
  font-family: "Herculanum";
  font-size: 40px;
  margin: 240px 0 0 450px;
}

.stats:before {
  color: #f05d21;
  font-size: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  color: whitesmoke;
}
